body {
  height: 100vh;
}

.column-8 {
  margin-top: 120px;
  padding: 2em;
  background: #eee;
}

.timer > h1 {
  font-size: 3em;
}

.shell {
  height: 20px;
  width: 20em;
  background: #555;
  margin: 30px auto;
  border-radius: 50px;
  overflow: hidden;
}

.shell div {
  float: right;
  height: 30px;
  background: #ef4e6e;
}